header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 750px;
    padding: 16px 0px;
    color: rgb(42, 61, 139);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Montserrat";
    z-index: 1000;
}

.logo{
    height: 75px;
}