.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    color: rgb(42, 61, 139);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: fit-content;
    font-family: "Montserrat";
    z-index: 1000;
    a{
        transition: .25s linear;
        text-decoration: none;
        color: rgb(42, 61, 139);
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid transparent;
        
    }
    a:hover{
        transition: .25s linear;
        color: white;
        background-color: transparent;
        border: 2px solid white;
    }
    img{
        left: 0;
        position: relative;
        height: 40px;
        z-index: 1001;
    }
}
.head-links{
    margin-right: 10px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
}
.logo{
    margin: 10px;
}