.carousol{
    align-content: center;
    height: 100vh;
    background-color: grey;
    border-radius: 0px 0px 10px 10px;
    border: 2px solid rgb(74, 74, 74);
}

.grad-card-c{
    margin-top: -5%;
    font-size: 1.5vw;
    text-align: center;
    height: 60%;
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    width: 80%;
    align-self: center;
    img{
        width: 100%;
        height: 60%;
        border-radius: 10px;
    }
    li {
        height: 30% ;
        background-color: rgba(61, 61, 117, .8);
        color: white;
        list-style-type: none;
        display: inline-block;
        justify-content: center;
        align-items: center;
        margin-left: 2vw;
        margin-bottom: 2vw;
        padding: 1vw;
        padding: auto;
        border-radius: 10px;
        width: 20%;
    }
    h1{
        font-size: 200%;
        font-weight: bold;
    }
    p{
        font-size: 140%;
        font-weight: lighter;
    }

}
@media (max-width: 800px) {

    .grad-card-c, .grad-card-ca{ 
        transition: .25s all;
        li{
            width: 30% !important;
            height: 40% !important;
            min-width: 231px !important;
            min-height: 482px !important;
            font-size: 200% !important;
        }
    }
  
}
@media (max-width: 1660px) {

    .grad-card-c, .grad-card-ca{ 
        li{
            width: 30%;
            height: fit-content;
            font-size: 1.5vw;
        }
    }
}
