
.grid{
    position: relative;
    align-self: center;
    padding-top: 5%;
    margin-top: 5%;
    flex-direction: column;
    background-color: #c8c8c8;
    width: 100%;
    align-items: center;
}
.grad-card{
    text-align: center;
    height: 60%;
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    width: 80%;
    align-self: center;
    margin: auto;
    img{
        width: 20vw;
        height: 20vw;
        border-radius: 10px;
    }
    li {
        height: 30vw ;
        background-color: rgba(61, 61, 117, .8);
        color: white;
        list-style-type: none;
        display: inline-block;
        justify-content: center;
        align-items: center;
        margin-left: 2vw;
        margin-bottom: 2vw;
        padding: 1vw;
        padding: auto;
        border-radius: 10px;
        width: 20vw;
    }
}
.grad-card h1{
    font-size: 160%;
}
.grad-card p{
    font-size: 100%;
}
@media (max-width: 660px) {

    .grad-card{ 
        li{
            width: 60vw !important;
            height: 90vw !important;
            font-size: 3vw !important;
        }
        img{
            width: 60vw !important;
            height: 60vw !important;
        }
    }
}
@media (max-width: 1000px) {

    .grad-card{ 
        li{
            width: 30vw;
            height: 50vw;
            font-size: 2vw;
        }
        img{
            width: 30vw;
            height: 30vw;
        }
    }
}